[project]
name = "reproducible-research-workflows"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.14"
dependencies = [
    "jupyter>=1.1.1",
    "matplotlib>=3.10.8",
    "pandas>=3.0.0",
    "pyyaml>=6.0.3",
    "statsmodels>=0.14.6",
]
