/* These are Paul Goldsmith-Pinkham colors */
.red {
    color: #d55e00;
}

.blue {
    color: #0072b2;
}

.green {
    color: #009e73;
}

.yellow {
    color: #f0e442;
}

.footnotesize {
    font-size: 0.8em;
}
